@import "../index.scss";

.word__text {
  width: 200px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.btn {
  background-color: $main-color;
  border: none;
  border-radius: 10px;
  color: $font-color-light;
  padding: 10px 25px;
  font-size: 1em;
  width: 150px;
  margin-top: 40px;
}

.btn_hidden {
  display: none;
}

.p__translation {
  font-size: 2em;
  color: rgb(59, 107, 196);
}
.btn:hover {
  font-size: 1.1em;
}
