@import "../index.scss";
.card {
  background-color: rgb(240, 240, 240);
  width: 25%;
  height: 300px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;

  justify-content: space-between;
  text-align: center;
  align-items: center;
  padding: 40px 20px;
  border-radius: 25px;
}
