@import "../index.scss";
.card__container {
  background-color: rgb(240, 240, 240);
  width: 25%;
  height: 300px;
  margin: 0 auto;

  display: flex;

  justify-content: space-between;
  text-align: center;
  align-items: center;
  padding: 40px 20px;
  border-radius: 25px;
}

.word__text {
  width: 200px;
}
.card__arrow_back,
.card__arrow_next {
  width: 30px;
}
.img__success {
  width: 200px;
}
.card {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
