@import "../index.scss";
.container {
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
h1 {
  font-size: 2.5em;
  color: $main-color;
}

h2 {
  font-size: 2em;
  font-weight: 400;
}
