@import "../../index.scss";
.footer {
  // border: 1px solid rgb(61,61,61);
  padding: 10px;
  margin: 5px;

  grid-area: f;
  text-align: center;
  font-size: 10px;
  color: $second-color;
}
.footer p {
  margin: 5px;
}
