// @import "../../index.scss";

.deck {
  // border: 1px solid rgb(61, 61, 61);
  background-color: rgb(240, 240, 240);
  border-radius: 10px;
  padding: 20px 30px;
  margin: 15px;
  display: flex;

  justify-content: space-between;
  align-items: center;
}
.deck__p {
  font-size: 1.25em;
  color: rgb(59, 107, 196);
}

.leftEl {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 1.25em;
}
.leftEl img {
  width: 30px;
}

.rightEl {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 50px;
}
.rightEl .deck__p {
  color: #151616;
  font-size: 1.15em;
}

.deck__imgArrow {
  margin-left: 20px;
  cursor: pointer;
}
.deck__imgArrow:hover {
  width: 25px;
}
