@import "./index.scss";

.container {
  max-width: 100%;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.container div:last-of-type {
  margin-top: auto;
}
