.header {
   font-family: 'Open Sans', sans-serif;
   border: 1px solid rgb(61,61,61);
   padding: 20px 40px;
   margin: 5px;

   grid-area: h;

   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
}
.h1{
   font-size: 36px;
   position: relative;
  
}
.ul{
   display: flex;
   list-style: none;
   
}
li:last-child{
   margin-left: 15px;
}
li{
   color:rgb(72, 132, 243);
}
.flash{
   position: absolute;
   top:-40px;
   color:rgb(59, 107, 196);
}
.vocab {
   position: absolute;
   top: -10px;
   left: 3px;
   
   color:rgb(59, 107, 196);
}
.cards {
   position: absolute;
   top: -50px;
   left: 90px;
   font-size: 50px;
   color:rgb(59, 107, 196);
}